.home {
  height: 100vh;
}
.lbl-title {
  text-align: center;
  padding: 1%;
}
.btn-search {
  text-align: center;
  height: 70%;
  background-color: black;
}
.txt-search {
  text-align: center;
  width: 100%;
}
.container-searchbar {
  margin: 0 auto;
  width: 60%;
  height: 90%;
  align-items: center;
  margin-bottom: 15%;
}
.grid-searchbar {
  padding-top: 5%;
}
.MuiGrid-item {
  display: flex;
  justify-items: center;
}

.MuiTextField-root {
  height: 50%;
}

.txt-result .MuiOutlinedInput-root,
input {
  height: 50%;
}
.error-alert {
  width: 40%;
  margin-left: 9%;
  margin-top: 2%;
}

.lbl-stats {
  text-align: center;
  text-decoration: underline;
}
.lbl-stats-subtitle {
  padding-left: 5%;
  padding-top: 2%;
}

.txt-stats,
.txt-stats .MuiOutlinedInput-root,
input {
  margin: 0 auto;
  align-items: center;
  width: 100%;
}
